.app{
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: blueviolet
}

.head{
    width: 50%;
    height: 5%;
    background-color: green;
    border: black;
    margin: 10px;
}